@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  body {
    background-color: aquamarine;
    background: linear-gradient(to right, #97adcc, #04399b);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
  }
  body p{ 
    font-weight: bold;
    color: #000705;
  }

h1 {
    text-align: center;
    color: #020202;
}

form {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #050505;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    color: #000000;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"] {
    width: 100%;
    background-color: #1e0153;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #1e0153; ;
}


@media (max-width: 600px) {
    form {
        padding: 15px;
    }
}