@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  body {
    background-color: aquamarine;
    background: linear-gradient(to right, #a6fcff, #04399b);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
  }
  body p{ 
    font-weight: bold;
    color: #000705;
  }
form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #000000;
}


fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}


legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #050505;
}


label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    color: #000000;
    font-weight: bold;
}


input[type="text"] {
    padding: 8px;
    font-size: 1em;
    width: calc(100% - 20px);
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
}


input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:#1e0153;;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #1e0153; ;
}


@media (max-width: 600px) {
    form {
        padding: 15px;
    }
}